 <head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
</head> 

<strong>Welcome to the Outernative Life!</strong>

<form action="{% url 'include_new_member' %}" id="new-member-form" method="post">
	{% csrf_token %}

	<br>
	<label>Nome de usuário</label>
	<input id="username" type="text" name="username" onchange="username_verify()">

	<br>
	<label>Senha</label>
	<input id="password" type="password" name="password">

	<br>
	<label>Repita a senha</label>
	<input id="password_again" type="password" name="password_again">

	<br>
	<label>Nome</label>
	<input id="first_name" type="text" name="first_name">

	<br>
	<label>Sobrenome</label>
	<input id="last_name" type="text" name="last_name">

	<br>
	<label>Email</label>
	<input id="email" type="email" name="email">

	<br>
	<label>Data de Nascimento</label>
	<input id="birthdate" type="datetime" name="birthdate" placeholder="dd/mm/aaaa" min="1850-01-02">

	<br>
	<button type="submit" name="action" id="new-member-form-button">Enviar</button>
</form>

<a href="{% url 'index' %}">Já tem cadastro? Faça login</a>



<script type="text/javascript">

	var $jqDate = jQuery('input[name="birthdate"]');

	$jqDate.bind('keyup','keydown', function(e){
	    if(e.which !== 8) { 
	        var numChars = $jqDate.val().length;
	        if(numChars === 2 || numChars === 5){
	            var thisVal = $jqDate.val();
	            thisVal += '/';
	            $jqDate.val(thisVal);
	        }
	  }
	});

	$("#telephone").on("change keyup paste", function () {
	    var output;
	    var ddd
	    var phone
	    var input = $("#telephone").val();
	    if (input.length == 2 ) {
	    	ddd = input.substr(0, 2);
	    	ddd = '(' + ddd + ') ';
	    	phone = input.substr(2);
	    	output = ddd + phone;
	    	console.log(output);
	    }else{
	    	output = input;
	    }
	    
	    $("#telephone").val(output);
	});

	function username_verify(){
		var username = $("#username").val();
		
	  	$.ajax({
		    url: '{% url 'verify_username' %}',
		    data: { 
		        "username": username
		    },
		    type: 'get', // This is the default though, you don't actually need to always mention it
		    success: function(data) {
		        console.log(data);
		    },
		    failure: function(data) { 
		        console.log('Got an error dude');
		    }
		});
	};


</script>